* {     
    box-sizing: border-box;     
    margin: 0;     
    padding: 0; 
}  
:root{     
    --main-font: ;     
    --secondary-font:  ;     
    --bg-colour: #3487;     
    font-size: 1rem; 
}  
body{     
    font-family: var(--main-font); 
}  
.navbar{     
    overflow: hidden;     
    background-color: var(--bg-colour);     
    position: relative; 
} 
/*  #nav-links{     
    display: none; 
} */  
#nav-links a{     
    color: white;     
    padding: 1rem; 
}  
.notextdec{     
    text-decoration: none; 
}  
.evenlyspaced{    
    display:flex;     
    justify-content: space-between;     
    align-items: center; 
}

.about-us-container {
    display: flex;
    width: 80%;
    background-color: black;
}

.staff-info {
    height: 500px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.staff-name {
height: 30px;
width: 60px;
background-color: blue;
}

.staff-blurb {
height: 150px;
width: 150px;
}

.staff-image {

}