* {     
    box-sizing: border-box;     
    margin: 0;     
    padding: 0; 
}  
:root{     
    --main-colour:hsl(207,95%,8%);     
    --secondary-colour: hsl(353, 81%, 51%);
    --tertiary-colour: hsl(35, 100%, 55%);
    --tiffany-blue-colour: hsl(174, 62%, 47%);     
    --bg-colour:hsl(100, 100%, 99%);     
    --font-size: 1rem;
}  

.fascinate-font {
    font-family: 'Fascinate', cursive;
}

.font-md {
    font-size: 2.2rem;
}

.font-lg {
    font-size: 3rem;
}

.font-red {
    color: #E71D36;
}

.font-blue {
    color: #2EC4B6;
}
body{    
    font-family: 'Roboto Mono', monospace;
    color: var(--main-colour); 
    background: rgb(46,196,182);
    background: linear-gradient(10deg, rgba(46,196,182,0.2) 20%, rgba(255,159,28,0.2) 75%, rgba(231,29,54,0.2) 100%); 
    padding-bottom: 100px;
}
    .navbar{     
    overflow: hidden;     
    position: relative; 
    padding:1rem;
} 
.navbar:hover{
    background-color: var(--tertiary-colour);
    color: var(--bg-colour);
}
.navbar:hover #nav-links a{
    color: var(--bg-colour);
}
#nav-links a:hover{
    background-color: var(--secondary-colour);
}
#nav-links{     
    display: none;
    flex-direction: column;
    justify-content:center;
}
#nav-links a{     
    color: var(--tiffany-blue-colour);     
    padding: 1rem; 
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: block; 
    transition: 0.6s ease;
    border-radius: 1.5rem;
   
}  
.logo{
   position:absolute;
   left:1rem;
   top:1rem;
}
#hamburger-menu{
    position:absolute;
    right:1rem;
    top:1rem;
}
.notextdec{     
    text-decoration: none; 
}  
.evenlyspaced{    
    display:flex;     
    justify-content: space-between;     
    align-items: center; 
}

@media only screen and (min-width:768px) {
    .logo{
        position:relative;
        left:0;
        top:0;
     }


    #nav-links{       
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #nav-links a{     
        color: var(--tiffany-blue-colour);     
        padding: 1rem; 
        margin: 1rem;

    }
    
}

#aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 3rem;
}

.main-logo {
    width: 300px;
    margin-bottom: 3rem;
}

.about-us-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 0rem 0;
    width: 100%;
    justify-content: center;
}

.staff-info {
    position: relative;
    height: 500px;
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 6rem 0;
}

.staff-name {
font-family: 'Roboto Mono', monospace;
font-size: 0.8rem;
height: 60px;
width: 150px;
background-color: rgba(1,22,39, 0.8);
position: absolute;
z-index: 1;
top: 15%;
left: 5%;
text-align: center;
color:rgb(253,255,252);
padding: 5px;
border-radius: 5%;
}

.staff-blurb {
font-family: 'DotGothic16', sans-serif;
font-weight: bold;
font-size: 0.5em;
position: absolute;
width: 70%;
background-color:rgba(253,255,252,0.6);
top: 76%;
right: 5%;
color: #011627;
padding: 7px;
outline: thick dashed rgba(1,22,39, 0.2);
}

.staff-image-container {
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.staff-image {
    width: 250px;
    height: auto;
    display: inline;
    margin: auto;
    border-radius: 5%;
    outline: thick dashed rgba(253,255,252,0.7);
}

.formsection{
    margin: 5rem;
}

.flexcenter{
    display: flex;
    justify-content: center;
}

.sixtych{
    max-width: 60ch;
}
.submit-btn{
    transition: 0.6s ease;
    border-radius: 1.5rem;
    padding:1rem;
    background-color: var(--tiffany-blue-colour);  
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    margin-top: 1rem;
    margin-left:4rem;
}
.submit-btn:hover{
    transition: 0.6s ease;
    background-color:var(--secondary-colour);
    cursor: pointer;
    color: var(--bg-colour);
}